# Necessary for the LED screen demos
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10000

# SPI RAM config
#CONFIG_SPIRAM_TYPE_AUTO=y
#CONFIG_SPIRAM_SIZE=-1

# Disable watchdogs
CONFIG_INT_WDT=n
CONFIG_ESP_TASK_WDT=n

# Workaround for https://github.com/espressif/esp-idf/issues/7631
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n

# Future: proper back-trace for esp32c3
#CONFIG_ESP_SYSTEM_USE_EH_FRAME=y
